body{
  /*background-image: url("http://dorlandini.github.io/unit3/assets/background.jpg"), url("http://dorlandini.github.io/unit3/assets/stripes.png");*/
  background: url("../assets/stripes.png"), url("../assets/background.jpg"), #52596B;
  background-size: auto, cover;
  background-repeat: repeat-x, no-repeat;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 29px;
  color: white;
  text-align: left;
  margin-top: 200px;
  margin-left: 50px;
}
hr{
	width: 40px;
  height: 2px;
  background-color: #FD6E6E;
  border-color: #FD6E6E;
  text-align: left;

	;
}

}
a{

}